<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>

<nav class="navbar nav-color ">
    <div class="container-fluid">    
      <div class="center" id="navbarNav">
        <body translate="no">
          <div class="wrapper">
            <a href="https://github.com/Ashit743">
                <div class="icon Github">
                  <div class="tooltip">Github</div>
                  <span><i class="fab fa-github"></i></span>
                </div>
            </a>
            <a href="https://www.linkedin.com/in/ashit-darurmath/">
                <div class="icon Twitch">
                  <div class="tooltip">linkedin</div>
                  <span><i class="fab fa-linkedin"></i></span>
                </div>
            </a>
            <a href="https://www.instagram.com/ash__o7/">
                <div class="icon instagram">
                  <div class="tooltip">Instagram</div>
                  <span><i class="fab fa-instagram"></i></span>
                </div>
            </a>
        
            <!-- <div class="icon youtube">
              <div class="tooltip">Youtube</div>
              <span><i class="fab fa-stac"></i></span>
            </div> -->
          </div>
          <!-- <div>
            <p style="font-family: sans-serif;color:white">© Copyright 2022. All Rights Reserved.</p>
        </div> -->
        </body>



      </div>
    
    </div>


    
  </nav>


  <script>




  </script>