<div class="d-flex justify-content-center">
    <h1>Education</h1>
</div>
<div class="progressBarAnimated">
    <div class="school_images">
        <div class="imagess tool" data-tip="Completed my Grade X State,with Math,Science,Social Studies, English, Hindi and Kannada in Sai Niketan" >
            <img class="imagesize " [src]="Schoolimages[1]" alt="">
        </div>
        <div class="imagess tool"  data-tip="Completed my Grade XII,with Math, Physics, Chemistry and Electronics as my primary subjects in Sai Niketan">
            <img class="imagesize" [src]="Schoolimages[0]" alt="">
            <!-- <div class="schoolName"><span class="tooltiptext"><h3>Sai Niketan</h3></span></div> -->
        </div>
        <div class="imagess tool"  data-tip="Completed my B.E in Electronics and Communication, from KLS GIT Belgavi">
            <img class="imagesize" [src]="Schoolimages[2]" alt="">
            <!-- <div class="schoolName"><span class="tooltiptext"><h3>KLS GIT</h3> </span></div> -->
        </div>
    </div>
    <div class="progress">
        <div id="box">
                
                <!-- <div class="schoolName"><span class="tooltiptext"><h3>Sai Niketan</h3></span></div> -->
        </div>
    </div>
</div>