<nav class="navbar  navbar-expand-lg navbar-light bg-light nav-color ">
    <div class="container-fluid">
      <a href="#" class="navbar-brand"><h3>Hi</h3></a>
    
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#"><p>Conncet</p></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><p>Explore</p></a>
          </li>
        </ul>
      </div>
    
    </div>
    
  </nav>