
<div id="workexperience" class="sectionClass">

  <div class="d-flex justify-content-center">
    <h1>Experience</h1>
</div>
    <div class="row ">
      <div class="sectiontitle">
      </div>
      <div class="fullWidth eight columns">
        <ul class="cbp_tmtimeline">
          <li>
            <div class="cbp_tmicon cbp_tmicon-screen">
              <a href="https://www.persistent.com/" target="_blank"><img src="../../assets/images/persistent-systems-seeklogo.com.svg" alt=""></a>
            </div>
            <div class="hide" id="w1">
              <h3>Software Engineer</h3>
              <h4><i class="fa fa-flag"></i><a href="https://goo.gl/maps/qsX1i2dCQgwQLbuP8" target="_blank" style="text-decoration: none;color:inherit">Persistent Systems, Bangalore</a></h4>
              <div class="date"><i class="fa fa-calendar"></i>Jul 2022 -  Present</div>
              <p class="projectParagraph">Working on Vue3 frame work to develop a website for a top scientific instrument manufacturer</p>
            </div>
          </li>
          <li>
            <div class="cbp_tmicon cbp_tmicon-mail">
              <a href="https://www.persistent.com/" target="_blank"><img src="../../assets/images/persistent-systems-seeklogo.com.svg" alt=""></a>
            </div>
            <div class="hide" id="w2">
              <h3>UI-Angular Intern</h3>
              <h4><i class="fa fa-flag"></i><a href="https://goo.gl/maps/tjh6PLJjsrdzrk1k8" target="_blank" style="text-decoration: none;color:inherit">Persistent Systems, Goa</a></h4>
              <div class="date"><i class="fa fa-calendar"></i>Jan 2022 - Jun 2022</div>
              <p class="projectParagraph">Worked on projects which involved Angular 8+ framework, javascript</p>
            </div>
          </li>
          <li>
            <div class="cbp_tmicon cbp_tmicon-phone">
              <a href="https://www.upwork.com/" target="_blank"><img src="../../assets/images/upwork-ar21.svg" alt=""></a>
            </div>
            <div class="hide" id="w3">
              <h3>Video Editor</h3>
              <div class="date"><i class="fa fa-calendar"></i>Jun 2020 - Dec 2020</div>
              <p class="projectParagraph">Worked as a video editor, for about 5 clients on upwork</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  