<div class="d-flex justify-content-center gap">
<a routerLink="projects">
  <h1>Projects</h1>
</a>
</div>

<div class="space d-flex justify-content-center ">
  <swiper [navigation]="true" class="mySwiper box fit" [loop] = "true"  [autoplay]="{delay:3000,disableOnInteraction:true}" >
    <ng-template swiperSlide *ngFor="let elem of proj_name,index as i">
      <div class="">
        <img src="{{image[i]}}" alt="">
      <a routerLink="{{'projects'+'/'+routerRoutes[i]}}">
        <div>
          <h2 class="name_of_proj">{{proj_name[i]}}</h2>
        </div>
      </a>
      </div>
    </ng-template>
  </swiper>
  
</div>


