.name_of_proj{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    width: 80%;

}

.swiper{
    border-radius: 7%;
    border-style: solid;
    color: rgb(255, 255, 255);
}

.space{
    margin-top: 8%;
}

