<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu+Mono&family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1><a href="https://ashit743.github.io/StartubBase/" target="_blank" style="text-decoration: underline;">Check it out!</a></h1>
    </header>

    <main>
      <article>
        <h2>Startup Base</h2>
        <p class="date">9.11.2021</p>
        <p>A website for new entrepreneurs. The Website was made with the intent to read about new entrepreneurs and one day start out own, this was the first website, me and my friend made after learning basic html, css and javascript,No frame work was used to make this website, although we tried to use many scripts for animations purpose</p>
        <p>the site is hosted on github pages, the intent was to generate ad revenue, the project is still in progress but needs a better framework and a few content writers and it's ready to go! </p>
      </article>
    </main>
    <footer>
     Namsate &hearts;
    </footer>
  </body>
