<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu+Mono&family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">
  </head>
  
  <body>
    <header>
      <h1><a href="https://photos.app.goo.gl/ohXcByLBuqpraE7V8" target="_blank">Check it out!</a></h1>
    </header>
    <main>
      <article>
        <h2>Maze Solver</h2>
        <p class="date">29.02.2020</p>
        <p>A automatic robot that can find it's way out by using Left hand rule, In short, the Left-Hand Rule. Imagine you are in a maze </p>

          <ul>
            <li>
              <p>Place your left hand on the wall.</p>
            </li>
            <li>
              <p>Begin walking forward</p>
            </li>
            <li>
              <p>At every intersection, and throughout the maze, keep your left hand touching the wall on your left.</p>
            </li>
            <li>
              <p>Eventually, you will reach the end of the maze. You will probably not go the shortest and most direct way, but you will get there</p>
            </li>
          </ul>
  
        <pre>
          void mazeSolve(void)
          
              while (!status)
              
                  readLFSsensors();  
                  switch (mode)
                    
                    case NO_LINE:  
                      motorStop();
                      goAndTurn (LEFT, 180);
                      recIntersection('B');
                      break;
                    
                    case CONT_LINE: 
                      runExtraInch();
                      readLFSsensors();
                      if (mode != CONT_LINE) goAndTurn (LEFT, 90); recIntersection('L');
                      else mazeEnd(); 
                      break;
                      
                   case RIGHT_TURN: 
                      runExtraInch();
                      readLFSsensors();
                      if (mode == NO_LINE) goAndTurn (RIGHT, 90); recIntersection('R');
                      else recIntersection('S');
                      break;   
                      
                   case LEFT_TURN: 
                      goAndTurn (LEFT, 90); 
                      recIntersection('L');
                      break;   
                   
                   case FOLLOWING_LINE: 
                      followingLine();
                      break;      
                  
                
          </pre>
        <p>The code was developed using Arduino IDE, and written in embedded C</p>
 
      </article>
    </main>
    <footer>
      Namaskara &hearts;
    </footer>
  </body>