
    <div class="d-flex justify-content-center">
        <h1>Skills</h1>
    </div>

<div class="skills d-flex justify-content-center">

    <div class="skills-bar">
      <div class="bar">
        <div class="info">
          <span>Vuejs</span>
        </div>
        <div class="progress-line"><span class="html"></span></div>
        <div class="bar">
          <div class="info">
            <span>Angular</span>
          </div>
          <div class="progress-line"><span class="css"></span></div>
          <div class="bar">
            <div class="info">
              <span>C++/python</span>
            </div>
            <div class="progress-line"><span class="bootstrap"></span></div>
            <div class="bar">
              <div class="info">
                <span>typescript</span>
              </div>
              <div class="progress-line">
                <span class="javascript"></span>
              </div>
              <div class="bar">
                <div class="info">
                  <span>DSA</span>
                </div>
                <div class="progress-line"><span class="c"></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>