<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu+Mono&family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1><a href="https://photos.app.goo.gl/7SHQvdfYbtqpRepE9" target="_blank" style="text-decoration: underline;">Check it out!</a></h1>
    </header>
    <main>
      <article>
        <h2>RC Aircraft</h2>
        <p class="date">9.03.2019</p>
        <p>Remote Controled Aircraft from scratch</p>


        <p>A Competition is hosted by <a href="https://www.sae.org/attend/student-events/sae-aero-design-west" target="_blank">SAE</a> which involves designing
        aircrafts that can be assembeled under 1minute but many teams assemble it it in like 15s, and then carry the maximum payload, and can go through as many
        rounds as possible without breaking. so yeah the competition was pretty exciting. The competition was sposnsered by major players like Lockheedmartin, Boeing etc</p>
        <p>We were like a team of 15 members, and I was handling the Electronics of the plane, we had used may designing softwares like Ansys, DS Solid works etc to analyze components, before test flight we used to do wind tunnel testing etc</p>
        <p>This was a very unfortunate time when covid struck and all out teams flights were cancelled!, and we had to present our design online, but we managed to pull of 12th and 14th rank for presentation and design standings among 75 international colleges </p>

      </article>
    </main>
    <footer>
      Namaste &hearts;
    </footer>
  </body>
