body {
  font-family: "Ubuntu";
  box-sizing: border-box;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 20px 20vw;
  font-size: 20px;
  line-height: 1.25;
  margin: 0;
  background-image: linear-gradient(to left, #b3ffd5, #b0efcc, #acdec3, #a9ceb9, #a5beb0);
  color: black;
  padding-top: 10%;
}

header,
main,
footer {
  max-width: 60vw;

}



a,p {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: black;
}

pre {
  border-left: 2px solid black;
  font-family: "Ubuntu Mono", monospace;
}

p:not(.date),
pre {
  font-size: 17px;
}

.date {
  font-family: "Ubuntu Condensed", sans-serif;
  color: grey;
}

footer {
  text-align: center;
  color: grey;
  margin-top: 40px;
  font-family: "Ubuntu Condensed", sans-serif;
}

.image_reduce{

  border: 3px solid black;  
  border-radius: 15px;
}


.image_px{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}