<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu+Mono&family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1><a href="https://github.com/Ashit743/Human-Computer-Interaction" target="_blank" style="text-decoration: underline;">Check it out!</a></h1>
    </header>
    <main>
      <article>
        <h2>Human Computer Interaction to control industrial machinery</h2>
        <p class="date">20.12.2022</p>
        <p>We build a hardware and software product environment to control hardware applications using hand gestures</p>
        <p>To begin with, we were a team of 4 members, being from Electronics background we were interested to build projects with
          electronics invlolved, software product was simple enough
        </p>
        <p>

        </p>




        <pre>
          try:
            openCamera():
              recognize_gesture();
          except:
            displayError();

          recognize_gesture():
            sendData();

          sendData(): //according to conditions sennds data to arduino
            sendDataViaPyfirmata(); -> connects to C standardfirmata protocol

        </pre>

        <div class="image_reduce"><img class="image_px" src="https://lh3.googleusercontent.com/pw/AL9nZEWKjF35ICkymMFGnCYGAa8hcbFlLgp3M_fbqbJgVCCSW18ebXz7d9eUV4wSV7LXuFef5JRJdZfT0T0a_zSoUP9vg_RddFUqKzY0z1Mk7q20o5QzfvdRTEHceCGozENJsh_-Di-XpnZwqxjyFyJQV7C2iA=s937-no?authuser=0"  alt=""></div>

        <p>Check out some videos! <a href="https://photos.app.goo.gl/P1ox9eiqrKkjtusy6">Click here</a></p>

      </article>
    </main>
    <footer>
      Namaskara &hearts;
    </footer>
  </body>
