.line{
    width:auto;
    height: 0.1em;
    background-color: rgb(255, 255, 255);
}

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 9999;
  }

  .hidden{
    display: none;
  }