  <div class="container">
    <!-- <button class="back-to-top hidden">  
back-to-top
  </button> -->

    <br>
    <div>
      <app-projects></app-projects>
    </div>
    <br><br><br><br><br><br>
    <!-- <div class="line"></div> -->
    <div>
      <app-edu-exp></app-edu-exp>
    </div>

    <br><br><br><br><br><br>
    <div>
      <app-experience></app-experience>
    </div>
    <br><br><br><br><br><br>
    <div>
      <app-skills></app-skills>
    </div>
    <br><br><br><br><br><br>
    <app-scroll-to-top></app-scroll-to-top>

    
</div>


<script>


</script>


