<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu+Mono&family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">
  </head>

  <body>
      <header>
        <h1><a href="https://devpost.com/software/blink-4n2xjv" target="_blank" style="text-decoration: underline;">Check it out</a></h1>
      </header>
      <main>
        <article>
          <h2>BlinkPy</h2>
          <p class="date">19.06.2022</p>
          <p>A Open Cv webapp which can, </p>
          <p>Many of software engineers are stressed out by looking at the computer for a long time, one way to reduce is just blink!</p>
          <p>This Webapp is used just for that, it keeps track of your blink cycle!, now thats cool! this app uses openCv to get quick detection of face</p>
        </article>
      </main>
      <footer>
        Namaste &hearts;
      </footer>

  </body>
