<body>
  <div class="app-container">
    <div class="app-header"></div>
    <div class="app-content">
      <div class="projects-section">
        <div class="project-boxes jsGridView">
          <div *ngFor="let item of projects"                  class="project-box-wrapper">
            <a routerLink={{item.router_redirect}}>
              <div class="project-box" [ngStyle]="{ 'background-color': item.color }">
                <div class="project-box-header">
                  <span> {{item.date}}</span>
                </div>
                <div class="project-box-content-header">
                  <p class="box-content-header">{{item.name}}</p>

                  <p class="box-content-subheader">
                    {{item.description}}
                  </p>
                </div>
                <div class="box-progress-wrapper">
                  <p class="box-progress-header">Progress</p>
                  <div class="box-progress-bar">
                    <span
                      class="box-progress"
                      style="width: 100%; background-color: #ff942e"
                    ></span>
                  </div>
                  <p class="box-progress-percentage">100%</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
